<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.runnerup.mapper.AttachmentMapper" >
  <resultMap id="BaseResultMap" type="cn.runnerup.model.Attachment" >
    <id column="att_id" property="id" jdbcType="INTEGER" />
    <result column="att_model" property="model" jdbcType="VARCHAR" />
    <result column="att_record" property="record" jdbcType="VARCHAR" />
    <result column="att_type" property="type" jdbcType="INTEGER" />
    <result column="att_filename" property="filename" jdbcType="VARCHAR" />
    <result column="att_path" property="path" jdbcType="VARCHAR" />
    <result column="att_mime" property="mime" jdbcType="VARCHAR" />
    <result column="att_size" property="size" jdbcType="BIGINT" />
    <result column="att_created" property="created" jdbcType="TIMESTAMP" />
    <association column="att_user" property="user" select="cn.runnerup.mapper.UserMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Base_Column_List" >
    att_id, att_user, att_model, att_record, att_type, att_filename, att_path, att_mime,
    att_size, att_created
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sp_attachments
    where att_id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_attachments
    where att_id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.runnerup.model.Attachment" >
    insert into sp_attachments (att_model,
      att_record, att_type, att_filename,
      att_path, att_mime, att_size, att_created, att_user
      )
    values (#{model,jdbcType=VARCHAR},
      #{record,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR},
      #{path,jdbcType=VARCHAR}, #{mime,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}
      ,<if test="user == null">NULL</if><if test="user != null">#{user.id,jdbcType=INTEGER}</if>)
   	<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
		select LAST_INSERT_ID() as id
	</selectKey>
  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.runnerup.model.Attachment" >
    update sp_attachments
    set
      att_model = #{model,jdbcType=VARCHAR},
      att_record = #{record,jdbcType=VARCHAR},
      att_type = #{type,jdbcType=INTEGER},
      att_filename = #{filename,jdbcType=VARCHAR},
      att_path = #{path,jdbcType=VARCHAR},
      att_mime = #{mime,jdbcType=VARCHAR},
      att_size = #{size,jdbcType=BIGINT},
      att_created = #{created,jdbcType=TIMESTAMP},
      <if test="user == null">att_user = NULL</if><if test="user != null">att_user = #{user.id,jdbcType=INTEGER}</if>
    where att_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>