<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.runnerup.mapper.BusinessMapper" >
  <resultMap id="BaseResultMap" type="cn.runnerup.model.Business" >
    <id column="buss_id" property="id" jdbcType="INTEGER" />
    <result column="buss_credit" property="credit" jdbcType="VARCHAR" />
    <result column="buss_publicOrder" property="publicorder" jdbcType="VARCHAR" />
    <result column="buss_court" property="court" jdbcType="VARCHAR" />
    <result column="buss_advances" property="advances" jdbcType="DOUBLE" />
    <result column="buss_finishTime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="buss_advanceDate" property="advancedate" jdbcType="TIMESTAMP" />
    <result column="buss_loanDate" property="loandate" jdbcType="TIMESTAMP" />
    <result column="buss_insuranceAgent" property="insuranceagent" jdbcType="VARCHAR" />
    <result column="buss_insuranceStart" property="insurancestart" jdbcType="TIMESTAMP" />
    <result column="buss_insuranceEnd" property="insuranceend" jdbcType="TIMESTAMP" />
    <result column="buss_certificate" property="certificate" jdbcType="VARCHAR" />
    <result column="buss_isImpawn" property="isimpawn" jdbcType="TINYINT" />
    <result column="buss_isSongHang" property="issonghang" jdbcType="TINYINT" />
    <result column="buss_carModel" property="carmodel" jdbcType="VARCHAR" />
    <result column="buss_carEngine" property="carengine" jdbcType="VARCHAR" />
    <result column="buss_carFrame" property="carframe" jdbcType="VARCHAR" />
    <result column="buss_status" property="status" jdbcType="VARCHAR" />
    <result column="buss_carNo" property="carno" jdbcType="VARCHAR" />
    <result column="buss_advanceBank" property="advancebank" jdbcType="VARCHAR" />
    <result column="buss_amounts" property="amounts" jdbcType="DOUBLE" />
    <result column="buss_profits" property="profits" jdbcType="DOUBLE" />

    
    <result column="buss_songdayinhangriqi" property="songdayinhangriqi"/>


    <association property="customer" column="buss_customer" select="cn.runnerup.mapper.CustomerMapper.selectByPrimaryKey"/>
  </resultMap>

  <sql id="Base_Column_List" >
    buss_id, buss_customer, buss_credit, buss_publicOrder, buss_court,
    buss_advances,
    buss_advanceDate, buss_loanDate, buss_insuranceAgent, buss_insuranceStart, buss_insuranceEnd,
    buss_certificate, buss_isImpawn, buss_isSongHang, buss_carModel, buss_carEngine,
    buss_carFrame, buss_status,
    buss_carNo, buss_advanceBank, buss_amounts, buss_profits,buss_finishTime,
  
    buss_songdayinhangriqi
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sp_businesses
    where buss_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByCustomer" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sp_businesses
    where buss_customer = #{customer,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_businesses
    where buss_id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="getAllBusinesses" resultMap="BaseResultMap" parameterType="java.util.HashMap">
  	select
    <include refid="Base_Column_List" />
    from sp_businesses, sp_customers where buss_customer = cs_id
	<if test="status != null">
		and buss_status in
		<foreach collection="status" index="index" item="item" open="(" separator="," close=")">
				#{item}
		</foreach>
	</if>
	<if test="type != null">
		and cs_carType = #{type}
	</if>
	<if test="area != null">
		and cs_dealer = #{area}
	</if>
	<if test="carno != null">
		and buss_carNo = #{carno}
	</if>
	<if test="starttime != null and endtime != null">
		and buss_finishTime between #{starttime} and #{endtime}
	</if>
	<if test="condition != null">
		and (cs_loanername like '%${condition}%' or cs_sales like '%${condition}%' or buss_id = '%${condition}%' or cs_loanercard like '%${condition}%')
	</if>
    limit ${limit} offset ${start}
  </select>

  <select id="selectCount" resultType="int" parameterType="java.util.HashMap">
  	select count(1)
    from sp_businesses ,sp_customers where buss_customer = cs_id
	<if test="status != null">
		and buss_status in
		<foreach collection="status" index="index" item="item" open="(" separator="," close=")">
				#{item}
		</foreach>
	</if>
	<if test="type != null">
		and cs_carType = #{type}
	</if>
	<if test="area != null">
		and cs_dealer = #{area}
	</if>
	<if test="carno != null">
		and buss_carNo = #{carno}
	</if>
	<if test="starttime != null and endtime != null">
		and buss_finishTime between #{starttime} and #{endtime}
	</if>
	<if test="condition != null">
		and (cs_loanername like '%${condition}%' or cs_sales like '%${condition}%' or buss_id = '%${condition}%' or cs_loanercard like '%${condition}%')
	</if>
  </select>

  <select id="getBusinessesHistory" resultMap="BaseResultMap" parameterType="java.util.HashMap">
	  	select
	  		<include refid="Base_Column_List" />
	  	from (
		  	select
		  		distinct *
		    from
		    	sp_woflows, sp_businesses, sp_customers
		    where
		    	wof_wo = buss_id and buss_customer = cs_id
		    	<if test="user != null">
			    	and wof_createdby = #{user}
		    	</if>
			    <if test="type != null">
					and cs_carType = #{type}
				</if>
				<if test="carno != null">
					and buss_carNo = #{carno}
				</if>
				<if test="area != null">
					and cs_dealer = #{area}
				</if>
				<if test="starttime != null and endtime != null">
					and buss_finishTime between #{starttime} and #{endtime}
				</if>
				<if test="condition != null">
					and (cs_loanername like '%${condition}%' or cs_sales like '%${condition}%' or buss_id = '%${condition}%' or cs_loanercard like '%${condition}%')
				</if>
	  	) a limit ${limit} offset ${start}
  </select>

  <select id="getBusinessesHistoryCount" resultType="int" parameterType="java.util.HashMap">
	  	select
	  		count(*)
	  	from (
		  	select
		  		distinct *
		    from sp_woflows, sp_businesses, sp_customers
		    where
		    	wof_wo = buss_id and buss_customer = cs_id
		    	<if test="user != null">
			    	and wof_createdby = #{user}
		    	</if>
		    	<if test="type != null">
					and cs_carType = #{type}
				</if>
				<if test="carno != null">
					and buss_carNo = #{carno}
				</if>
				<if test="area != null">
					and cs_dealer = #{area}
				</if>
				<if test="starttime != null and endtime != null">
					and buss_finishTime between #{starttime} and #{endtime}
				</if>

				<if test="condition != null">
					and (cs_loanername like '%${condition}%' or cs_sales like '%${condition}%' or buss_id = '%${condition}%' or cs_loanercard like '%${condition}%')
				</if>
	  	) a
  </select>

   <insert id="insert" parameterType="cn.runnerup.model.Business" >
    insert into sp_businesses (buss_id, buss_credit,
      buss_publicOrder, buss_court,
      buss_advances, buss_advanceDate, buss_loanDate,
      buss_insuranceAgent, buss_insuranceStart, buss_insuranceEnd,
      buss_certificate, buss_isImpawn, buss_isSongHang,
      buss_carModel, buss_carEngine, buss_carFrame,
      buss_status,
      buss_carNo,
      buss_advanceBank,
      buss_amounts,
      buss_profits,
      buss_finishTime,

   
    buss_songdayinhangriqi,

      buss_customer)
    values (#{id,jdbcType=INTEGER}, #{credit,jdbcType=VARCHAR},
      #{publicorder,jdbcType=VARCHAR}, #{court,jdbcType=VARCHAR},
      #{advances,jdbcType=DOUBLE}, #{advancedate,jdbcType=TIMESTAMP}, #{loandate,jdbcType=TIMESTAMP},
      #{insuranceagent,jdbcType=VARCHAR}, #{insurancestart,jdbcType=TIMESTAMP}, #{insuranceend,jdbcType=TIMESTAMP},
      #{certificate,jdbcType=VARCHAR}, #{isimpawn,jdbcType=TINYINT}, #{issonghang,jdbcType=TINYINT},
      #{carmodel,jdbcType=VARCHAR}, #{carengine,jdbcType=VARCHAR}, #{carframe,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR},
      #{carno,jdbcType=VARCHAR},
      #{advancebank,jdbcType=VARCHAR},
      #{amounts,jdbcType=DOUBLE},
      #{profits,jdbcType=DOUBLE},
      #{finishtime,jdbcType=TIMESTAMP},
      
     
      #{songdayinhangriqi,jdbcType=TIMESTAMP},
      
      <if test="customer == null">NULL</if><if test="customer != null">#{customer.id,jdbcType=INTEGER}</if>)
      <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
		select LAST_INSERT_ID() as id
	  </selectKey>

  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.runnerup.model.Business" >
		update sp_businesses
			set buss_credit = #{credit,jdbcType=VARCHAR},
			buss_publicOrder = #{publicorder,jdbcType=VARCHAR},
			buss_court = #{court,jdbcType=VARCHAR},
			buss_advances = #{advances,jdbcType=DOUBLE},
			buss_advanceDate = #{advancedate,jdbcType=TIMESTAMP},
			buss_loanDate = #{loandate,jdbcType=TIMESTAMP},
			buss_insuranceAgent = #{insuranceagent,jdbcType=VARCHAR},
			buss_insuranceStart = #{insurancestart,jdbcType=TIMESTAMP},
			buss_insuranceEnd = #{insuranceend,jdbcType=TIMESTAMP},
			buss_certificate = #{certificate,jdbcType=VARCHAR},
			buss_isImpawn = #{isimpawn,jdbcType=TINYINT},
			buss_isSongHang = #{issonghang,jdbcType=TINYINT},
			buss_carModel = #{carmodel,jdbcType=VARCHAR},
			buss_carEngine = #{carengine,jdbcType=VARCHAR},
			buss_carFrame = #{carframe,jdbcType=VARCHAR},
			buss_status = #{status,jdbcType=VARCHAR},
			buss_carNo = #{carno, jdbcType=VARCHAR},
			buss_advanceBank = #{advancebank, jdbcType=VARCHAR},
			buss_amounts = #{amounts, jdbcType=DOUBLE},
			buss_profits = #{profits, jdbcType=DOUBLE},
			buss_finishTime = #{finishtime,jdbcType=TIMESTAMP},
			
			
      		buss_songdayinhangriqi = #{songdayinhangriqi,jdbcType=TIMESTAMP},
			
      		<if test="customer == null">buss_customer = NULL</if><if test="customer != null">buss_customer = #{customer.id,jdbcType=INTEGER}</if>
		where buss_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>