<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.runnerup.mapper.BusinessMapper" >
  <resultMap id="BaseResultMap" type="cn.runnerup.model.Business" >
     <id column="buss_id" property="id" jdbcType="INTEGER" />
    <result column="buss_credit" property="credit" jdbcType="VARCHAR" />
    <result column="buss_publicOrder" property="publicorder" jdbcType="VARCHAR" />
    <result column="buss_court" property="court" jdbcType="VARCHAR" />
    <result column="buss_branch" property="branch" jdbcType="VARCHAR" />
    <result column="buss_advances" property="advances" jdbcType="DOUBLE" />
    <result column="buss_advanceDate" property="advancedate" jdbcType="TIMESTAMP" />
    <result column="buss_loanDate" property="loandate" jdbcType="TIMESTAMP" />
    <result column="buss_insuranceAgent" property="insuranceagent" jdbcType="VARCHAR" />
    <result column="buss_insuranceStart" property="insurancestart" jdbcType="TIMESTAMP" />
    <result column="buss_insuranceEnd" property="insuranceend" jdbcType="TIMESTAMP" />
    <result column="buss_certificate" property="certificate" jdbcType="VARCHAR" />
    <result column="buss_isImpawn" property="isimpawn" jdbcType="TINYINT" />
    <result column="buss_isSongHang" property="issonghang" jdbcType="TINYINT" />
    <result column="buss_carModel" property="carmodel" jdbcType="VARCHAR" />
    <result column="buss_carEngine" property="carengine" jdbcType="VARCHAR" />
    <result column="buss_carFrame" property="carframe" jdbcType="VARCHAR" />
    <result column="buss_status" property="status" jdbcType="VARCHAR" />
    <result column="buss_customer" property="customer" jdbcType="INTEGER" />
    <association property="customer" column="buss_customer" select="cn.runnerup.mapper.CustomerMapper.selectByPrimaryKey"/>
  </resultMap>

  <sql id="Base_Column_List" >
    buss_id, buss_customer, buss_credit, buss_publicOrder, buss_court, buss_branch, buss_advances,
    buss_advanceDate, buss_loanDate, buss_insuranceAgent, buss_insuranceStart, buss_insuranceEnd,
    buss_certificate, buss_isImpawn, buss_isSongHang, buss_carModel, buss_carEngine,
    buss_carFrame, buss_status
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sp_businesses
    where buss_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByCustomer" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sp_businesses
    where buss_customer = #{customer,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_businesses
    where buss_id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="getAllBusinesses" resultMap="BaseResultMap">
  	 select
    <include refid="Base_Column_List" />
    from sp_businesses
	<if test="status != null">
		where buss_status in
		<foreach collection="status" index="index" item="item" open="(" separator="," close=")">
				#{item}
		</foreach>
	</if>
    limit ${limit} offset ${start}
  </select>

  <select id="selectCount" resultType="int" parameterType="java.util.HashMap">
  	select count(1)
    from sp_businesses
	<if test="status != null">
		where buss_status in
		<foreach collection="status" index="index" item="item" open="(" separator="," close=")">
				#{item}
		</foreach>
	</if>
  </select>

   <insert id="insert" parameterType="cn.runnerup.model.Business" >
    insert into sp_businesses (buss_id, buss_credit,
      buss_publicOrder, buss_court, buss_branch,
      buss_advances, buss_advanceDate, buss_loanDate,
      buss_insuranceAgent, buss_insuranceStart, buss_insuranceEnd,
      buss_certificate, buss_isImpawn, buss_isSongHang,
      buss_carModel, buss_carEngine, buss_carFrame,
      buss_status, buss_customer)
    values (#{id,jdbcType=INTEGER}, #{credit,jdbcType=VARCHAR},
      #{publicorder,jdbcType=VARCHAR}, #{court,jdbcType=VARCHAR}, #{branch,jdbcType=VARCHAR},
      #{advances,jdbcType=DOUBLE}, #{advancedate,jdbcType=TIMESTAMP}, #{loandate,jdbcType=TIMESTAMP},
      #{insuranceagent,jdbcType=VARCHAR}, #{insurancestart,jdbcType=TIMESTAMP}, #{insuranceend,jdbcType=TIMESTAMP},
      #{certificate,jdbcType=VARCHAR}, #{isimpawn,jdbcType=TINYINT}, #{issonghang,jdbcType=TINYINT},
      #{carmodel,jdbcType=VARCHAR}, #{carengine,jdbcType=VARCHAR}, #{carframe,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR},
      <if test="customer == null">NULL</if><if test="customer != null">#{customer.id,jdbcType=INTEGER}</if>)
      <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
		select LAST_INSERT_ID() as id
	  </selectKey>

  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.runnerup.model.Business" >
		update sp_businesses
			set buss_credit = #{credit,jdbcType=VARCHAR},
			buss_publicOrder = #{publicorder,jdbcType=VARCHAR},
			buss_court = #{court,jdbcType=VARCHAR},
			buss_branch = #{branch,jdbcType=VARCHAR},
			buss_advances = #{advances,jdbcType=DOUBLE},
			buss_advanceDate = #{advancedate,jdbcType=TIMESTAMP},
			buss_loanDate = #{loandate,jdbcType=TIMESTAMP},
			buss_insuranceAgent = #{insuranceagent,jdbcType=VARCHAR},
			buss_insuranceStart = #{insurancestart,jdbcType=TIMESTAMP},
			buss_insuranceEnd = #{insuranceend,jdbcType=TIMESTAMP},
			buss_certificate = #{certificate,jdbcType=VARCHAR},
			buss_isImpawn = #{isimpawn,jdbcType=TINYINT},
			buss_isSongHang = #{issonghang,jdbcType=TINYINT},
			buss_carModel = #{carmodel,jdbcType=VARCHAR},
			buss_carEngine = #{carengine,jdbcType=VARCHAR},
			buss_carFrame = #{carframe,jdbcType=VARCHAR},
			buss_status = #{status,jdbcType=VARCHAR},
      		<if test="customer == null">buss_customer = NULL</if><if test="customer != null">buss_customer = #{customer.id,jdbcType=INTEGER}</if>
		where buss_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>