<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.runnerup.mapper.BusinessMapper" >
  <resultMap id="BaseResultMap" type="cn.runnerup.model.Business" >
    <id column="buss_id" property="id" jdbcType="INTEGER" />
    <result column="buss_lenderName" property="lendername" jdbcType="VARCHAR" />
    <result column="buss_lenderSex" property="lendersex" jdbcType="CHAR" />
    <result column="buss_lenderAge" property="lenderage" jdbcType="INTEGER" />
    <result column="buss_lenderCard" property="lendercard" jdbcType="VARCHAR" />
    <result column="buss_lenderTel" property="lendertel" jdbcType="VARCHAR" />
    <result column="buss_lenderEstate" property="lenderestate" jdbcType="VARCHAR" />
    <result column="buss_lenderUnit" property="lenderunit" jdbcType="VARCHAR" />
    <result column="buss_lenderUnitTel" property="lenderunittel" jdbcType="VARCHAR" />
    <result column="buss_lenderArea" property="lenderarea" jdbcType="VARCHAR" />
    <result column="buss_mateName" property="matename" jdbcType="VARCHAR" />
    <result column="buss_mateSex" property="matesex" jdbcType="CHAR" />
    <result column="buss_mateAge" property="mateage" jdbcType="INTEGER" />
    <result column="buss_mateCard" property="matecard" jdbcType="VARCHAR" />
    <result column="buss_mateTel" property="matetel" jdbcType="VARCHAR" />
    <result column="buss_mateEstate" property="mateestate" jdbcType="VARCHAR" />
    <result column="buss_mateUnit" property="mateunit" jdbcType="VARCHAR" />
    <result column="buss_mateUnitTel" property="mateunittel" jdbcType="VARCHAR" />
    <result column="buss_mateArea" property="matearea" jdbcType="VARCHAR" />
    <result column="buss_guaranteeName" property="guaranteename" jdbcType="VARCHAR" />
    <result column="buss_guaranteeSex" property="guaranteesex" jdbcType="CHAR" />
    <result column="buss_guaranteeAge" property="guaranteeage" jdbcType="INTEGER" />
    <result column="buss_guaranteeCard" property="guaranteecard" jdbcType="VARCHAR" />
    <result column="buss_guaranteeTel" property="guaranteetel" jdbcType="VARCHAR" />
    <result column="buss_guaranteeEstate" property="guaranteeestate" jdbcType="VARCHAR" />
    <result column="buss_guaranteeUnit" property="guaranteeunit" jdbcType="VARCHAR" />
    <result column="buss_guaranteeUnitTel" property="guaranteeunittel" jdbcType="VARCHAR" />
    <result column="buss_guaranteeArea" property="guaranteearea" jdbcType="VARCHAR" />
    <result column="buss_sales" property="sales" jdbcType="VARCHAR" />
    <result column="buss_manager" property="manager" jdbcType="VARCHAR" />
    <result column="buss_carType" property="cartype" jdbcType="VARCHAR" />
    <result column="buss_years" property="years" jdbcType="INTEGER" />
    <result column="buss_bail" property="bail" jdbcType="DECIMAL" />
    <result column="buss_notaryFee" property="notaryfee" jdbcType="DECIMAL" />
    <result column="buss_other_fee" property="otherFee" jdbcType="DECIMAL" />
    <result column="buss_guaranteeFees" property="guaranteefees" jdbcType="DECIMAL" />
    <result column="buss_credit" property="credit" jdbcType="VARCHAR" />
    <result column="buss_branch" property="branch" jdbcType="VARCHAR" />
    <result column="buss_advances" property="advances" jdbcType="DECIMAL" />
    <result column="buss_advanceDate" property="advancedate" jdbcType="TIMESTAMP" />
    <result column="buss_insuranceAgent" property="insuranceagent" jdbcType="VARCHAR" />
    <result column="buss_insuranceStart" property="insurancestart" jdbcType="TIMESTAMP" />
    <result column="buss_insuranceEnd" property="insuranceend" jdbcType="TIMESTAMP" />
    <result column="buss_certificate" property="certificate" jdbcType="VARCHAR" />
    <result column="buss_isImpawn" property="isimpawn" jdbcType="TINYINT" />
    <result column="buss_isSongHang" property="issonghang" jdbcType="TINYINT" />
    <result column="buss_status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    buss_id, buss_lenderName, buss_lenderSex, buss_lenderAge, buss_lenderCard, buss_lenderTel,
    buss_lenderEstate, buss_lenderUnit, buss_lenderUnitTel, buss_lenderArea, buss_mateName,
    buss_mateSex, buss_mateAge, buss_mateCard, buss_mateTel, buss_mateEstate, buss_mateUnit,
    buss_mateUnitTel, buss_mateArea, buss_guaranteeName, buss_guaranteeSex, buss_guaranteeAge,
    buss_guaranteeCard, buss_guaranteeTel, buss_guaranteeEstate, buss_guaranteeUnit,
    buss_guaranteeUnitTel, buss_guaranteeArea, buss_sales, buss_manager, buss_carType,
    buss_years, buss_bail, buss_notaryFee, buss_other_fee, buss_guaranteeFees, buss_credit,
    buss_branch, buss_advances, buss_advanceDate, buss_insuranceAgent, buss_insuranceStart,
    buss_insuranceEnd, buss_certificate, buss_isImpawn, buss_isSongHang, buss_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sp_businesses
    where buss_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_businesses
    where buss_id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="getAllBusinesses" resultMap="BaseResultMap">
  	 select
    <include refid="Base_Column_List" />
    from sp_businesses
    where buss_id is not null
  </select>
  <insert id="insert" parameterType="cn.runnerup.model.Business" >
    insert into sp_businesses (buss_id, buss_lenderName, buss_lenderSex,
      buss_lenderAge, buss_lenderCard, buss_lenderTel,
      buss_lenderEstate, buss_lenderUnit, buss_lenderUnitTel,
      buss_lenderArea, buss_mateName, buss_mateSex,
      buss_mateAge, buss_mateCard, buss_mateTel,
      buss_mateEstate, buss_mateUnit, buss_mateUnitTel,
      buss_mateArea, buss_guaranteeName, buss_guaranteeSex,
      buss_guaranteeAge, buss_guaranteeCard, buss_guaranteeTel,
      buss_guaranteeEstate, buss_guaranteeUnit, buss_guaranteeUnitTel,
      buss_guaranteeArea, buss_sales, buss_manager,
      buss_carType, buss_years, buss_bail,
      buss_notaryFee, buss_other_fee, buss_guaranteeFees,
      buss_credit, buss_branch, buss_advances,
      buss_advanceDate, buss_insuranceAgent, buss_insuranceStart,
      buss_insuranceEnd, buss_certificate, buss_isImpawn,
      buss_isSongHang, buss_status)
    values (#{id,jdbcType=INTEGER}, #{lendername,jdbcType=VARCHAR}, #{lendersex,jdbcType=CHAR},
      #{lenderage,jdbcType=INTEGER}, #{lendercard,jdbcType=VARCHAR}, #{lendertel,jdbcType=VARCHAR},
      #{lenderestate,jdbcType=VARCHAR}, #{lenderunit,jdbcType=VARCHAR}, #{lenderunittel,jdbcType=VARCHAR},
      #{lenderarea,jdbcType=VARCHAR}, #{matename,jdbcType=VARCHAR}, #{matesex,jdbcType=CHAR},
      #{mateage,jdbcType=INTEGER}, #{matecard,jdbcType=VARCHAR}, #{matetel,jdbcType=VARCHAR},
      #{mateestate,jdbcType=VARCHAR}, #{mateunit,jdbcType=VARCHAR}, #{mateunittel,jdbcType=VARCHAR},
      #{matearea,jdbcType=VARCHAR}, #{guaranteename,jdbcType=VARCHAR}, #{guaranteesex,jdbcType=CHAR},
      #{guaranteeage,jdbcType=INTEGER}, #{guaranteecard,jdbcType=VARCHAR}, #{guaranteetel,jdbcType=VARCHAR},
      #{guaranteeestate,jdbcType=VARCHAR}, #{guaranteeunit,jdbcType=VARCHAR}, #{guaranteeunittel,jdbcType=VARCHAR},
      #{guaranteearea,jdbcType=VARCHAR}, #{sales,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR},
      #{cartype,jdbcType=VARCHAR}, #{years,jdbcType=INTEGER}, #{bail,jdbcType=DECIMAL},
      #{notaryfee,jdbcType=DECIMAL}, #{otherFee,jdbcType=DECIMAL}, #{guaranteefees,jdbcType=DECIMAL},
      #{credit,jdbcType=VARCHAR}, #{branch,jdbcType=VARCHAR}, #{advances,jdbcType=DECIMAL},
      #{advancedate,jdbcType=TIMESTAMP}, #{insuranceagent,jdbcType=VARCHAR}, #{insurancestart,jdbcType=TIMESTAMP},
      #{insuranceend,jdbcType=TIMESTAMP}, #{certificate,jdbcType=VARCHAR}, #{isimpawn,jdbcType=TINYINT},
      #{issonghang,jdbcType=TINYINT}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.runnerup.model.Business" >
    insert into sp_businesses
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        buss_id,
      </if>
      <if test="lendername != null" >
        buss_lenderName,
      </if>
      <if test="lendersex != null" >
        buss_lenderSex,
      </if>
      <if test="lenderage != null" >
        buss_lenderAge,
      </if>
      <if test="lendercard != null" >
        buss_lenderCard,
      </if>
      <if test="lendertel != null" >
        buss_lenderTel,
      </if>
      <if test="lenderestate != null" >
        buss_lenderEstate,
      </if>
      <if test="lenderunit != null" >
        buss_lenderUnit,
      </if>
      <if test="lenderunittel != null" >
        buss_lenderUnitTel,
      </if>
      <if test="lenderarea != null" >
        buss_lenderArea,
      </if>
      <if test="matename != null" >
        buss_mateName,
      </if>
      <if test="matesex != null" >
        buss_mateSex,
      </if>
      <if test="mateage != null" >
        buss_mateAge,
      </if>
      <if test="matecard != null" >
        buss_mateCard,
      </if>
      <if test="matetel != null" >
        buss_mateTel,
      </if>
      <if test="mateestate != null" >
        buss_mateEstate,
      </if>
      <if test="mateunit != null" >
        buss_mateUnit,
      </if>
      <if test="mateunittel != null" >
        buss_mateUnitTel,
      </if>
      <if test="matearea != null" >
        buss_mateArea,
      </if>
      <if test="guaranteename != null" >
        buss_guaranteeName,
      </if>
      <if test="guaranteesex != null" >
        buss_guaranteeSex,
      </if>
      <if test="guaranteeage != null" >
        buss_guaranteeAge,
      </if>
      <if test="guaranteecard != null" >
        buss_guaranteeCard,
      </if>
      <if test="guaranteetel != null" >
        buss_guaranteeTel,
      </if>
      <if test="guaranteeestate != null" >
        buss_guaranteeEstate,
      </if>
      <if test="guaranteeunit != null" >
        buss_guaranteeUnit,
      </if>
      <if test="guaranteeunittel != null" >
        buss_guaranteeUnitTel,
      </if>
      <if test="guaranteearea != null" >
        buss_guaranteeArea,
      </if>
      <if test="sales != null" >
        buss_sales,
      </if>
      <if test="manager != null" >
        buss_manager,
      </if>
      <if test="cartype != null" >
        buss_carType,
      </if>
      <if test="years != null" >
        buss_years,
      </if>
      <if test="bail != null" >
        buss_bail,
      </if>
      <if test="notaryfee != null" >
        buss_notaryFee,
      </if>
      <if test="otherFee != null" >
        buss_other_fee,
      </if>
      <if test="guaranteefees != null" >
        buss_guaranteeFees,
      </if>
      <if test="credit != null" >
        buss_credit,
      </if>
      <if test="branch != null" >
        buss_branch,
      </if>
      <if test="advances != null" >
        buss_advances,
      </if>
      <if test="advancedate != null" >
        buss_advanceDate,
      </if>
      <if test="insuranceagent != null" >
        buss_insuranceAgent,
      </if>
      <if test="insurancestart != null" >
        buss_insuranceStart,
      </if>
      <if test="insuranceend != null" >
        buss_insuranceEnd,
      </if>
      <if test="certificate != null" >
        buss_certificate,
      </if>
      <if test="isimpawn != null" >
        buss_isImpawn,
      </if>
      <if test="issonghang != null" >
        buss_isSongHang,
      </if>
      <if test="status != null" >
        buss_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lendername != null" >
        #{lendername,jdbcType=VARCHAR},
      </if>
      <if test="lendersex != null" >
        #{lendersex,jdbcType=CHAR},
      </if>
      <if test="lenderage != null" >
        #{lenderage,jdbcType=INTEGER},
      </if>
      <if test="lendercard != null" >
        #{lendercard,jdbcType=VARCHAR},
      </if>
      <if test="lendertel != null" >
        #{lendertel,jdbcType=VARCHAR},
      </if>
      <if test="lenderestate != null" >
        #{lenderestate,jdbcType=VARCHAR},
      </if>
      <if test="lenderunit != null" >
        #{lenderunit,jdbcType=VARCHAR},
      </if>
      <if test="lenderunittel != null" >
        #{lenderunittel,jdbcType=VARCHAR},
      </if>
      <if test="lenderarea != null" >
        #{lenderarea,jdbcType=VARCHAR},
      </if>
      <if test="matename != null" >
        #{matename,jdbcType=VARCHAR},
      </if>
      <if test="matesex != null" >
        #{matesex,jdbcType=CHAR},
      </if>
      <if test="mateage != null" >
        #{mateage,jdbcType=INTEGER},
      </if>
      <if test="matecard != null" >
        #{matecard,jdbcType=VARCHAR},
      </if>
      <if test="matetel != null" >
        #{matetel,jdbcType=VARCHAR},
      </if>
      <if test="mateestate != null" >
        #{mateestate,jdbcType=VARCHAR},
      </if>
      <if test="mateunit != null" >
        #{mateunit,jdbcType=VARCHAR},
      </if>
      <if test="mateunittel != null" >
        #{mateunittel,jdbcType=VARCHAR},
      </if>
      <if test="matearea != null" >
        #{matearea,jdbcType=VARCHAR},
      </if>
      <if test="guaranteename != null" >
        #{guaranteename,jdbcType=VARCHAR},
      </if>
      <if test="guaranteesex != null" >
        #{guaranteesex,jdbcType=CHAR},
      </if>
      <if test="guaranteeage != null" >
        #{guaranteeage,jdbcType=INTEGER},
      </if>
      <if test="guaranteecard != null" >
        #{guaranteecard,jdbcType=VARCHAR},
      </if>
      <if test="guaranteetel != null" >
        #{guaranteetel,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeestate != null" >
        #{guaranteeestate,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeunit != null" >
        #{guaranteeunit,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeunittel != null" >
        #{guaranteeunittel,jdbcType=VARCHAR},
      </if>
      <if test="guaranteearea != null" >
        #{guaranteearea,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        #{years,jdbcType=INTEGER},
      </if>
      <if test="bail != null" >
        #{bail,jdbcType=DECIMAL},
      </if>
      <if test="notaryfee != null" >
        #{notaryfee,jdbcType=DECIMAL},
      </if>
      <if test="otherFee != null" >
        #{otherFee,jdbcType=DECIMAL},
      </if>
      <if test="guaranteefees != null" >
        #{guaranteefees,jdbcType=DECIMAL},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=VARCHAR},
      </if>
      <if test="branch != null" >
        #{branch,jdbcType=VARCHAR},
      </if>
      <if test="advances != null" >
        #{advances,jdbcType=DECIMAL},
      </if>
      <if test="advancedate != null" >
        #{advancedate,jdbcType=TIMESTAMP},
      </if>
      <if test="insuranceagent != null" >
        #{insuranceagent,jdbcType=VARCHAR},
      </if>
      <if test="insurancestart != null" >
        #{insurancestart,jdbcType=TIMESTAMP},
      </if>
      <if test="insuranceend != null" >
        #{insuranceend,jdbcType=TIMESTAMP},
      </if>
      <if test="certificate != null" >
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="isimpawn != null" >
        #{isimpawn,jdbcType=TINYINT},
      </if>
      <if test="issonghang != null" >
        #{issonghang,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.runnerup.model.Business" >
    update sp_businesses
    <set >
      <if test="lendername != null" >
        buss_lenderName = #{lendername,jdbcType=VARCHAR},
      </if>
      <if test="lendersex != null" >
        buss_lenderSex = #{lendersex,jdbcType=CHAR},
      </if>
      <if test="lenderage != null" >
        buss_lenderAge = #{lenderage,jdbcType=INTEGER},
      </if>
      <if test="lendercard != null" >
        buss_lenderCard = #{lendercard,jdbcType=VARCHAR},
      </if>
      <if test="lendertel != null" >
        buss_lenderTel = #{lendertel,jdbcType=VARCHAR},
      </if>
      <if test="lenderestate != null" >
        buss_lenderEstate = #{lenderestate,jdbcType=VARCHAR},
      </if>
      <if test="lenderunit != null" >
        buss_lenderUnit = #{lenderunit,jdbcType=VARCHAR},
      </if>
      <if test="lenderunittel != null" >
        buss_lenderUnitTel = #{lenderunittel,jdbcType=VARCHAR},
      </if>
      <if test="lenderarea != null" >
        buss_lenderArea = #{lenderarea,jdbcType=VARCHAR},
      </if>
      <if test="matename != null" >
        buss_mateName = #{matename,jdbcType=VARCHAR},
      </if>
      <if test="matesex != null" >
        buss_mateSex = #{matesex,jdbcType=CHAR},
      </if>
      <if test="mateage != null" >
        buss_mateAge = #{mateage,jdbcType=INTEGER},
      </if>
      <if test="matecard != null" >
        buss_mateCard = #{matecard,jdbcType=VARCHAR},
      </if>
      <if test="matetel != null" >
        buss_mateTel = #{matetel,jdbcType=VARCHAR},
      </if>
      <if test="mateestate != null" >
        buss_mateEstate = #{mateestate,jdbcType=VARCHAR},
      </if>
      <if test="mateunit != null" >
        buss_mateUnit = #{mateunit,jdbcType=VARCHAR},
      </if>
      <if test="mateunittel != null" >
        buss_mateUnitTel = #{mateunittel,jdbcType=VARCHAR},
      </if>
      <if test="matearea != null" >
        buss_mateArea = #{matearea,jdbcType=VARCHAR},
      </if>
      <if test="guaranteename != null" >
        buss_guaranteeName = #{guaranteename,jdbcType=VARCHAR},
      </if>
      <if test="guaranteesex != null" >
        buss_guaranteeSex = #{guaranteesex,jdbcType=CHAR},
      </if>
      <if test="guaranteeage != null" >
        buss_guaranteeAge = #{guaranteeage,jdbcType=INTEGER},
      </if>
      <if test="guaranteecard != null" >
        buss_guaranteeCard = #{guaranteecard,jdbcType=VARCHAR},
      </if>
      <if test="guaranteetel != null" >
        buss_guaranteeTel = #{guaranteetel,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeestate != null" >
        buss_guaranteeEstate = #{guaranteeestate,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeunit != null" >
        buss_guaranteeUnit = #{guaranteeunit,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeunittel != null" >
        buss_guaranteeUnitTel = #{guaranteeunittel,jdbcType=VARCHAR},
      </if>
      <if test="guaranteearea != null" >
        buss_guaranteeArea = #{guaranteearea,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        buss_sales = #{sales,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        buss_manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        buss_carType = #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        buss_years = #{years,jdbcType=INTEGER},
      </if>
      <if test="bail != null" >
        buss_bail = #{bail,jdbcType=DECIMAL},
      </if>
      <if test="notaryfee != null" >
        buss_notaryFee = #{notaryfee,jdbcType=DECIMAL},
      </if>
      <if test="otherFee != null" >
        buss_other_fee = #{otherFee,jdbcType=DECIMAL},
      </if>
      <if test="guaranteefees != null" >
        buss_guaranteeFees = #{guaranteefees,jdbcType=DECIMAL},
      </if>
      <if test="credit != null" >
        buss_credit = #{credit,jdbcType=VARCHAR},
      </if>
      <if test="branch != null" >
        buss_branch = #{branch,jdbcType=VARCHAR},
      </if>
      <if test="advances != null" >
        buss_advances = #{advances,jdbcType=DECIMAL},
      </if>
      <if test="advancedate != null" >
        buss_advanceDate = #{advancedate,jdbcType=TIMESTAMP},
      </if>
      <if test="insuranceagent != null" >
        buss_insuranceAgent = #{insuranceagent,jdbcType=VARCHAR},
      </if>
      <if test="insurancestart != null" >
        buss_insuranceStart = #{insurancestart,jdbcType=TIMESTAMP},
      </if>
      <if test="insuranceend != null" >
        buss_insuranceEnd = #{insuranceend,jdbcType=TIMESTAMP},
      </if>
      <if test="certificate != null" >
        buss_certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="isimpawn != null" >
        buss_isImpawn = #{isimpawn,jdbcType=TINYINT},
      </if>
      <if test="issonghang != null" >
        buss_isSongHang = #{issonghang,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        buss_status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where buss_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.runnerup.model.Business" >
    update sp_businesses
    set buss_lenderName = #{lendername,jdbcType=VARCHAR},
      buss_lenderSex = #{lendersex,jdbcType=CHAR},
      buss_lenderAge = #{lenderage,jdbcType=INTEGER},
      buss_lenderCard = #{lendercard,jdbcType=VARCHAR},
      buss_lenderTel = #{lendertel,jdbcType=VARCHAR},
      buss_lenderEstate = #{lenderestate,jdbcType=VARCHAR},
      buss_lenderUnit = #{lenderunit,jdbcType=VARCHAR},
      buss_lenderUnitTel = #{lenderunittel,jdbcType=VARCHAR},
      buss_lenderArea = #{lenderarea,jdbcType=VARCHAR},
      buss_mateName = #{matename,jdbcType=VARCHAR},
      buss_mateSex = #{matesex,jdbcType=CHAR},
      buss_mateAge = #{mateage,jdbcType=INTEGER},
      buss_mateCard = #{matecard,jdbcType=VARCHAR},
      buss_mateTel = #{matetel,jdbcType=VARCHAR},
      buss_mateEstate = #{mateestate,jdbcType=VARCHAR},
      buss_mateUnit = #{mateunit,jdbcType=VARCHAR},
      buss_mateUnitTel = #{mateunittel,jdbcType=VARCHAR},
      buss_mateArea = #{matearea,jdbcType=VARCHAR},
      buss_guaranteeName = #{guaranteename,jdbcType=VARCHAR},
      buss_guaranteeSex = #{guaranteesex,jdbcType=CHAR},
      buss_guaranteeAge = #{guaranteeage,jdbcType=INTEGER},
      buss_guaranteeCard = #{guaranteecard,jdbcType=VARCHAR},
      buss_guaranteeTel = #{guaranteetel,jdbcType=VARCHAR},
      buss_guaranteeEstate = #{guaranteeestate,jdbcType=VARCHAR},
      buss_guaranteeUnit = #{guaranteeunit,jdbcType=VARCHAR},
      buss_guaranteeUnitTel = #{guaranteeunittel,jdbcType=VARCHAR},
      buss_guaranteeArea = #{guaranteearea,jdbcType=VARCHAR},
      buss_sales = #{sales,jdbcType=VARCHAR},
      buss_manager = #{manager,jdbcType=VARCHAR},
      buss_carType = #{cartype,jdbcType=VARCHAR},
      buss_years = #{years,jdbcType=INTEGER},
      buss_bail = #{bail,jdbcType=DECIMAL},
      buss_notaryFee = #{notaryfee,jdbcType=DECIMAL},
      buss_other_fee = #{otherFee,jdbcType=DECIMAL},
      buss_guaranteeFees = #{guaranteefees,jdbcType=DECIMAL},
      buss_credit = #{credit,jdbcType=VARCHAR},
      buss_branch = #{branch,jdbcType=VARCHAR},
      buss_advances = #{advances,jdbcType=DECIMAL},
      buss_advanceDate = #{advancedate,jdbcType=TIMESTAMP},
      buss_insuranceAgent = #{insuranceagent,jdbcType=VARCHAR},
      buss_insuranceStart = #{insurancestart,jdbcType=TIMESTAMP},
      buss_insuranceEnd = #{insuranceend,jdbcType=TIMESTAMP},
      buss_certificate = #{certificate,jdbcType=VARCHAR},
      buss_isImpawn = #{isimpawn,jdbcType=TINYINT},
      buss_isSongHang = #{issonghang,jdbcType=TINYINT},
      buss_status = #{status,jdbcType=VARCHAR}
    where buss_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>