<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.runnerup.mapper.CodeMapper" >

  <resultMap id="BaseResultMap" type="cn.runnerup.model.Code" >
    <id column="cod_id" property="id" jdbcType="INTEGER" />
    <result column="cod_type" property="type" jdbcType="VARCHAR" />
    <result column="cod_code" property="code" jdbcType="VARCHAR" />
    <result column="cod_name" property="name" jdbcType="VARCHAR" />
    <result column="cod_created" property="created" jdbcType="TIMESTAMP" />
    <association property="createdby" column="cod_createdby" select="cn.runnerup.mapper.UserMapper.selectByPrimaryKey"/>
  </resultMap>

  <sql id="Base_Column_List" >
    cod_id, cod_type, cod_code, cod_name, cod_created, cod_createdby
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sp_codes
    where cod_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectCodes" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from sp_codes
   	<if test="type != null">
		and cod_type = #{type}
   	</if>
   	limit ${limit} offset ${start}
  </select>

  <select id="selectCodesCount" resultType="int" parameterType="java.util.HashMap">
    select
    	count(*)
    from sp_codes
   	<if test="type != null">
		and cod_type = #{type}
   	</if>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_codes
    where cod_id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.runnerup.model.Code" >
    insert into sp_codes (
    	cod_id,
    	cod_type,
    	cod_code,
      	cod_name,
      	cod_created,
      	cod_createdby
      )
    values (
    	#{id,jdbcType=INTEGER},
    	#{type,jdbcType=VARCHAR},
    	#{code,jdbcType=VARCHAR},
      	#{name,jdbcType=VARCHAR},
      	#{created,jdbcType=TIMESTAMP},
      	<if test="createdby == null">NULL</if><if test="createdby != null">#{createdby.id,jdbcType=INTEGER}</if>
      )
		<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>

  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.runnerup.model.Code" >
    update sp_codes
    set cod_type = #{type,jdbcType=VARCHAR},
      cod_code = #{code,jdbcType=VARCHAR},
      cod_name = #{name,jdbcType=VARCHAR},
      cod_created = #{created,jdbcType=TIMESTAMP},
      <if test="createdby == null">cod_createdby = NULL</if><if test="createdby != null">cod_createdby = #{createdby.id,jdbcType=INTEGER}</if>
    where cod_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>