<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.runnerup.mapper.CustomerMapper" >
  <resultMap id="BaseResultMap" type="cn.runnerup.model.Customer" >
    <id column="cs_id" property="id" jdbcType="INTEGER" />
    <result column="cs_loanerName" property="loanername" jdbcType="VARCHAR" />
    <result column="cs_loanerSex" property="loanersex" jdbcType="VARCHAR" />
    <result column="cs_loanerAge" property="loanerage" jdbcType="INTEGER" />
    <result column="cs_loanerCard" property="loanercard" jdbcType="VARCHAR" />
    <result column="cs_loanerTel" property="loanertel" jdbcType="VARCHAR" />
    <result column="cs_loanerHomeAddress" property="loanerhomeaddress" jdbcType="VARCHAR" />
    <result column="cs_loanerUnit" property="loanerunit" jdbcType="VARCHAR" />
    <result column="cs_loanerUnitTel" property="loanerunittel" jdbcType="VARCHAR" />
    <result column="cs_loanerMarry" property="loanermarry" jdbcType="VARCHAR" />
    <result column="cs_loanerArea" property="loanerarea" jdbcType="VARCHAR" />
    <result column="cs_loanerBirthplace" property="loanerbirthplace" jdbcType="VARCHAR" />
    <result column="cs_loanerHukou" property="loanerhukou" jdbcType="VARCHAR" />
    <result column="cs_loanerUnitAddress" property="loanerunitaddress" jdbcType="VARCHAR" />
    <result column="cs_loanerPosition" property="loanerposition" jdbcType="VARCHAR" />
    <result column="cs_mateName" property="matename" jdbcType="VARCHAR" />
    <result column="cs_mateAge" property="mateage" jdbcType="INTEGER" />
    <result column="cs_mateCard" property="matecard" jdbcType="VARCHAR" />
    <result column="cs_mateTel" property="matetel" jdbcType="VARCHAR" />
    <result column="cs_mateUnit" property="mateunit" jdbcType="VARCHAR" />
    <result column="cs_mateUnitTel" property="mateunittel" jdbcType="VARCHAR" />
    <result column="cs_mateBirthplace" property="matebirthplace" jdbcType="VARCHAR" />
    <result column="cs_mateHukou" property="matehukou" jdbcType="VARCHAR" />
    <result column="cs_mateUnitAddress" property="mateunitaddress" jdbcType="VARCHAR" />
    <result column="cs_matePosition" property="mateposition" jdbcType="VARCHAR" />
    <result column="cs_guaranteeName" property="guaranteename" jdbcType="VARCHAR" />
    <result column="cs_guaranteeSex" property="guaranteesex" jdbcType="VARCHAR" />
    <result column="cs_guaranteeAge" property="guaranteeage" jdbcType="INTEGER" />
    <result column="cs_guaranteeCard" property="guaranteecard" jdbcType="VARCHAR" />
    <result column="cs_guaranteeTel" property="guaranteetel" jdbcType="VARCHAR" />
    <result column="cs_guaranteeHomeAddress" property="guaranteehomeaddress" jdbcType="VARCHAR" />
    <result column="cs_guaranteeUnit" property="guaranteeunit" jdbcType="VARCHAR" />
    <result column="cs_guaranteeUnitTel" property="guaranteeunittel" jdbcType="VARCHAR" />
    <result column="cs_guaranteeArea" property="guaranteearea" jdbcType="VARCHAR" />
    <result column="cs_guaranteeMary" property="guaranteemary" jdbcType="VARCHAR" />
    <result column="cs_guaranteeBirthplace" property="guaranteebirthplace" jdbcType="VARCHAR" />
    <result column="cs_guaranteeHukou" property="guaranteehukou" jdbcType="VARCHAR" />
    <result column="cs_guaranteeUnitAddress" property="guaranteeunitaddress" jdbcType="VARCHAR" />
    <result column="cs_guaranteePosition" property="guaranteeposition" jdbcType="VARCHAR" />
    <result column="cs_sales" property="sales" jdbcType="VARCHAR" />
    <result column="cs_manager" property="manager" jdbcType="VARCHAR" />
    <result column="cs_years" property="years" jdbcType="INTEGER" />
    <result column="cs_stages" property="stages" jdbcType="INTEGER" />
    <result column="cs_carType" property="cartype" jdbcType="VARCHAR" />
    <result column="cs_carPrice" property="carprice" jdbcType="DOUBLE" />
    <result column="cs_carLoans" property="carloans" jdbcType="DOUBLE" />
    <result column="cs_carRate" property="carrate" jdbcType="DOUBLE" />
    <result column="cs_carBrokerage" property="carbrokerage" jdbcType="DOUBLE" />
    <result column="cs_carToObject" property="cartoobject" jdbcType="VARCHAR" />
    <result column="cs_carToAccount" property="cartoaccount" jdbcType="VARCHAR" />
    <result column="cs_bail" property="bail" jdbcType="DOUBLE" />
    <result column="cs_notaryFees" property="notaryfees" jdbcType="DOUBLE" />
    <result column="cs_otherFees" property="otherfees" jdbcType="DOUBLE" />
    <result column="cs_guaranteeFees" property="guaranteefees" jdbcType="DOUBLE" />
	<result column="cs_isflow" property="isFlow" />
	<result column="cs_created" property="created"/>

	<result column="cs_guaranteeMateName" property="guaranteematename" jdbcType="VARCHAR" />
	<result column="cs_guaranteeMateCard" property="guaranteematecard" jdbcType="VARCHAR" />
	<result column="cs_guaranteeMateTel" property="guaranteematetel" jdbcType="VARCHAR" />
	<result column="cs_isBank" property="isbank" />
	<result column="cs_bankAccount" property="bankaccount" jdbcType="VARCHAR" />
	<result column="cs_isGps" property="isgps" />

	<association property="createdby" column="cs_createdby" select="cn.runnerup.mapper.UserMapper.selectByPrimaryKey"/>

  </resultMap>
  <sql id="Base_Column_List" >
    cs_id, cs_loanerName, cs_loanerSex, cs_loanerAge, cs_loanerCard, cs_loanerTel, cs_loanerHomeAddress,
    cs_loanerUnit, cs_loanerUnitTel, cs_loanerMarry, cs_loanerArea, cs_loanerBirthplace,
    cs_loanerHukou, cs_loanerUnitAddress, cs_loanerPosition, cs_mateName,
    cs_mateAge, cs_mateCard, cs_mateTel, cs_mateUnit, cs_mateUnitTel, cs_mateBirthplace,
    cs_mateHukou, cs_mateUnitAddress, cs_matePosition, cs_guaranteeName, cs_guaranteeSex,
    cs_guaranteeAge, cs_guaranteeCard, cs_guaranteeTel, cs_guaranteeHomeAddress, cs_guaranteeUnit,
    cs_guaranteeUnitTel, cs_guaranteeArea, cs_guaranteeMary, cs_guaranteeBirthplace,
    cs_guaranteeHukou, cs_guaranteeUnitAddress, cs_guaranteePosition, cs_sales, cs_manager,
    cs_years, cs_stages, cs_carType, cs_carPrice, cs_carLoans, cs_carRate, cs_carBrokerage,
    cs_carToObject, cs_carToAccount, cs_bail, cs_notaryFees, cs_otherFees, cs_guaranteeFees, cs_isflow,
    cs_createdby,
    cs_created,
    cs_guaranteeMateName,
    cs_guaranteeMateCard,
    cs_guaranteeMateTel,
    cs_isBank,
    cs_bankAccount,
    cs_isGps
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sp_customers
    where cs_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAllCustomer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sp_customers
    where cs_id is not null
  </select>

  <select id="getAllCustomersByCreatedby" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select
    <include refid="Base_Column_List" />
    from sp_customers where cs_createdby = #{id,jdbcType=INTEGER}
  </select>

  <select id="getCustomers" resultMap="BaseResultMap" parameterType="java.util.HashMap">
  	select
    <include refid="Base_Column_List" />
    from sp_customers
    <if test="user != null">
	    where cs_createdby = #{user,jdbcType=INTEGER}
    </if>
    <if test="condition != null">
    	and (cs_loanerName like '%${condition}%' or cs_loanerCard like '%${condition}%'
    	or cs_guaranteeName like '%${condition}%' or cs_guaranteeCard like '%${condition}%' or cs_carType like '%${condition}%')
    </if>
    limit ${limit} offset ${start}
  </select>

   <select id="getCustomersCount" resultType="int" parameterType="java.util.HashMap">
  	select
    count(*)
    from sp_customers
    <if test="user != null">
	    where cs_createdby = #{user,jdbcType=INTEGER}
    </if>
    <if test="condition != null">
    	and (cs_loanerName like '%${condition}%' or cs_loanerCard like '%${condition}%'
    	or cs_guaranteeName like '%${condition}%' or cs_guaranteeCard like '%${condition}%' or cs_carType like '%${condition}%')
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_customers
    where cs_id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.runnerup.model.Customer" >
    insert into sp_customers (cs_loanerName, cs_loanerSex,
      cs_loanerAge, cs_loanerCard, cs_loanerTel,
      cs_loanerHomeAddress, cs_loanerUnit, cs_loanerUnitTel,
      cs_loanerMarry, cs_loanerArea, cs_loanerBirthplace,
      cs_loanerHukou, cs_loanerUnitAddress, cs_loanerPosition,
      cs_mateName,cs_mateAge,
      cs_mateCard, cs_mateTel, cs_mateUnit,
      cs_mateUnitTel, cs_mateBirthplace, cs_mateHukou,
      cs_mateUnitAddress, cs_matePosition, cs_guaranteeName,
      cs_guaranteeSex, cs_guaranteeAge, cs_guaranteeCard,
      cs_guaranteeTel, cs_guaranteeHomeAddress, cs_guaranteeUnit,
      cs_guaranteeUnitTel, cs_guaranteeArea, cs_guaranteeMary,
      cs_guaranteeBirthplace, cs_guaranteeHukou, cs_guaranteeUnitAddress,
      cs_guaranteePosition, cs_sales, cs_manager,
      cs_years, cs_stages, cs_carType,
      cs_carPrice, cs_carLoans, cs_carRate,
      cs_carBrokerage, cs_carToObject, cs_carToAccount,
      cs_bail, cs_notaryFees, cs_otherFees,
      cs_guaranteeFees, cs_isflow,cs_created,
      cs_guaranteeMateName,
      cs_guaranteeMateCard,
      cs_guaranteeMateTel,
      cs_isBank,
      cs_bankAccount,
      cs_isGps,
      cs_createdby
      )
    values (#{loanername,jdbcType=VARCHAR}, #{loanersex,jdbcType=VARCHAR},
      #{loanerage,jdbcType=INTEGER}, #{loanercard,jdbcType=VARCHAR}, #{loanertel,jdbcType=VARCHAR},
      #{loanerhomeaddress,jdbcType=VARCHAR}, #{loanerunit,jdbcType=VARCHAR}, #{loanerunittel,jdbcType=VARCHAR},
      #{loanermarry,jdbcType=VARCHAR}, #{loanerarea,jdbcType=VARCHAR}, #{loanerbirthplace,jdbcType=VARCHAR},
      #{loanerhukou,jdbcType=VARCHAR}, #{loanerunitaddress,jdbcType=VARCHAR}, #{loanerposition,jdbcType=VARCHAR},
      #{matename,jdbcType=VARCHAR}, #{mateage,jdbcType=INTEGER},
      #{matecard,jdbcType=VARCHAR}, #{matetel,jdbcType=VARCHAR}, #{mateunit,jdbcType=VARCHAR},
      #{mateunittel,jdbcType=VARCHAR}, #{matebirthplace,jdbcType=VARCHAR}, #{matehukou,jdbcType=VARCHAR},
      #{mateunitaddress,jdbcType=VARCHAR}, #{mateposition,jdbcType=VARCHAR}, #{guaranteename,jdbcType=VARCHAR},
      #{guaranteesex,jdbcType=VARCHAR}, #{guaranteeage,jdbcType=INTEGER}, #{guaranteecard,jdbcType=VARCHAR},
      #{guaranteetel,jdbcType=VARCHAR}, #{guaranteehomeaddress,jdbcType=VARCHAR}, #{guaranteeunit,jdbcType=VARCHAR},
      #{guaranteeunittel,jdbcType=VARCHAR}, #{guaranteearea,jdbcType=VARCHAR}, #{guaranteemary,jdbcType=VARCHAR},
      #{guaranteebirthplace,jdbcType=VARCHAR}, #{guaranteehukou,jdbcType=VARCHAR}, #{guaranteeunitaddress,jdbcType=VARCHAR},
      #{guaranteeposition,jdbcType=VARCHAR}, #{sales,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR},
      #{years,jdbcType=INTEGER}, #{stages,jdbcType=INTEGER}, #{cartype,jdbcType=VARCHAR},
      #{carprice,jdbcType=DOUBLE}, #{carloans,jdbcType=DOUBLE}, #{carrate,jdbcType=DOUBLE},
      #{carbrokerage,jdbcType=DOUBLE}, #{cartoobject,jdbcType=VARCHAR}, #{cartoaccount,jdbcType=VARCHAR},
      #{bail,jdbcType=DOUBLE}, #{notaryfees,jdbcType=DOUBLE}, #{otherfees,jdbcType=DOUBLE},
      #{guaranteefees,jdbcType=DOUBLE}, #{isFlow,jdbcType=BOOLEAN},
      #{created,jdbcType=TIMESTAMP},
      #{guaranteematename, jdbcType=VARCHAR},
      #{guaranteematecard, jdbcType=VARCHAR},
      #{guaranteematetel, jdbcType=VARCHAR},
      #{isbank, jdbcType=BOOLEAN},
      #{bankaccount, jdbcType=VARCHAR},
      #{isgps, jdbcType=BOOLEAN},
      <if test="createdby == null">NULL</if><if test="createdby != null">#{createdby.id,jdbcType=INTEGER}</if>
      )
	<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
		select LAST_INSERT_ID() as id
	</selectKey>

  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.runnerup.model.Customer" >
    update sp_customers
    set cs_loanerName = #{loanername,jdbcType=VARCHAR},
      cs_loanerSex = #{loanersex,jdbcType=VARCHAR},
      cs_loanerAge = #{loanerage,jdbcType=INTEGER},
      cs_loanerCard = #{loanercard,jdbcType=VARCHAR},
      cs_loanerTel = #{loanertel,jdbcType=VARCHAR},
      cs_loanerHomeAddress = #{loanerhomeaddress,jdbcType=VARCHAR},
      cs_loanerUnit = #{loanerunit,jdbcType=VARCHAR},
      cs_loanerUnitTel = #{loanerunittel,jdbcType=VARCHAR},
      cs_loanerMarry = #{loanermarry,jdbcType=VARCHAR},
      cs_loanerArea = #{loanerarea,jdbcType=VARCHAR},
      cs_loanerBirthplace = #{loanerbirthplace,jdbcType=VARCHAR},
      cs_loanerHukou = #{loanerhukou,jdbcType=VARCHAR},
      cs_loanerUnitAddress = #{loanerunitaddress,jdbcType=VARCHAR},
      cs_loanerPosition = #{loanerposition,jdbcType=VARCHAR},
      cs_mateName = #{matename,jdbcType=VARCHAR},
      cs_mateAge = #{mateage,jdbcType=INTEGER},
      cs_mateCard = #{matecard,jdbcType=VARCHAR},
      cs_mateTel = #{matetel,jdbcType=VARCHAR},
      cs_mateUnit = #{mateunit,jdbcType=VARCHAR},
      cs_mateUnitTel = #{mateunittel,jdbcType=VARCHAR},
      cs_mateBirthplace = #{matebirthplace,jdbcType=VARCHAR},
      cs_mateHukou = #{matehukou,jdbcType=VARCHAR},
      cs_mateUnitAddress = #{mateunitaddress,jdbcType=VARCHAR},
      cs_matePosition = #{mateposition,jdbcType=VARCHAR},
      cs_guaranteeName = #{guaranteename,jdbcType=VARCHAR},
      cs_guaranteeSex = #{guaranteesex,jdbcType=VARCHAR},
      cs_guaranteeAge = #{guaranteeage,jdbcType=INTEGER},
      cs_guaranteeCard = #{guaranteecard,jdbcType=VARCHAR},
      cs_guaranteeTel = #{guaranteetel,jdbcType=VARCHAR},
      cs_guaranteeHomeAddress = #{guaranteehomeaddress,jdbcType=VARCHAR},
      cs_guaranteeUnit = #{guaranteeunit,jdbcType=VARCHAR},
      cs_guaranteeUnitTel = #{guaranteeunittel,jdbcType=VARCHAR},
      cs_guaranteeArea = #{guaranteearea,jdbcType=VARCHAR},
      cs_guaranteeMary = #{guaranteemary,jdbcType=VARCHAR},
      cs_guaranteeBirthplace = #{guaranteebirthplace,jdbcType=VARCHAR},
      cs_guaranteeHukou = #{guaranteehukou,jdbcType=VARCHAR},
      cs_guaranteeUnitAddress = #{guaranteeunitaddress,jdbcType=VARCHAR},
      cs_guaranteePosition = #{guaranteeposition,jdbcType=VARCHAR},
      cs_sales = #{sales,jdbcType=VARCHAR},
      cs_manager = #{manager,jdbcType=VARCHAR},
      cs_years = #{years,jdbcType=INTEGER},
      cs_stages = #{stages,jdbcType=INTEGER},
      cs_carType = #{cartype,jdbcType=VARCHAR},
      cs_carPrice = #{carprice,jdbcType=DOUBLE},
      cs_carLoans = #{carloans,jdbcType=DOUBLE},
      cs_carRate = #{carrate,jdbcType=DOUBLE},
      cs_carBrokerage = #{carbrokerage,jdbcType=DOUBLE},
      cs_carToObject = #{cartoobject,jdbcType=VARCHAR},
      cs_carToAccount = #{cartoaccount,jdbcType=VARCHAR},
      cs_bail = #{bail,jdbcType=DOUBLE},
      cs_notaryFees = #{notaryfees,jdbcType=DOUBLE},
      cs_otherFees = #{otherfees,jdbcType=DOUBLE},
      cs_guaranteeFees = #{guaranteefees,jdbcType=DOUBLE},
      cs_isflow = #{isFlow,jdbcType=BOOLEAN},
      cs_created = #{created, jdbcType=TIMESTAMP},
      cs_guaranteeMateName = #{guaranteematename, jdbcType=VARCHAR},
      cs_guaranteeMateCard = #{guaranteematecard, jdbcType=VARCHAR},
      cs_guaranteeMateTel = #{guaranteematetel, jdbcType=VARCHAR},
      cs_isBank = #{isbank, jdbcType=BOOLEAN},
      cs_bankAccount = #{bankaccount, jdbcType=VARCHAR},
      cs_isGps = #{isgps, jdbcType=BOOLEAN},
      <if test="createdby == null">cs_createdby = NULL</if><if test="createdby != null">cs_createdby = #{createdby.id,jdbcType=INTEGER}</if>
    where cs_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>