<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.runnerup.mapper.WoflowMapper" >
  <resultMap id="BaseResultMap" type="cn.runnerup.model.Woflow" >
    <id column="wof_id" property="id" jdbcType="INTEGER" />
    <result column="wof_wo" property="wo" jdbcType="INTEGER" />
    <result column="wof_oldStatus" property="oldstatus" jdbcType="VARCHAR" />
    <result column="wof_status" property="status" jdbcType="VARCHAR" />
    <result column="wof_created" property="created" jdbcType="TIMESTAMP" />
    <result column="wof_descr" property="descr" jdbcType="LONGVARCHAR" />
    <association property="createdby" column="wof_createdby" select="cn.runnerup.mapper.UserMapper.selectByPrimaryKey"/>
  </resultMap>

  <sql id="Base_Column_List" >
    wof_id, wof_wo, wof_oldStatus, wof_status,wof_createdby,
    wof_created, wof_descr
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sp_woflows
    where wof_id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_woflows
    where wof_id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.runnerup.model.Woflow" >
    insert into sp_woflows (wof_wo,
      wof_oldStatus, wof_status,
      wof_createdby, wof_created,
      wof_descr)
    values (#{wo,jdbcType=INTEGER},
      #{oldstatus,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      <if test="createdby == null">wof_createdby = null,</if>
      <if test="createdby != null">#{createdby.id,jdbcType=INTEGER},</if>
      #{created,jdbcType=TIMESTAMP},
      #{descr,jdbcType=LONGVARCHAR})
      <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
		select LAST_INSERT_ID() as id
	  </selectKey>
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.runnerup.model.Woflow" >
    update sp_woflows
    set wof_wo = #{wo,jdbcType=INTEGER},
      wof_oldStatus = #{oldstatus,jdbcType=VARCHAR},
      wof_status = #{status,jdbcType=VARCHAR},
      <if test="createdby == null">wof_createdby = null,</if>
      <if test="createdby != null">#{createdby.id,jdbcType=INTEGER},</if>
      wof_created = #{created,jdbcType=TIMESTAMP}
    where wof_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>