.x-form-readonly .x-form-text{background:#dcdcdc !important;}
.y-action-reset{background-image:url('img/action/reset.png');}
.y-action-save{background-image:url('img/action/save.png');}
.y-action-new{background-image:url('img/action/new.png');}
.y-action-delete{background-image:url('img/action/delete.png');}
.y-action-print{background-image:url('img/action/print.png');}
.y-action-prev{background-image:url('img/action/up.png');}
.y-action-next{background-image:url('img/action/down.png');}
.y-action-reject{background-image:url('img/action/reject.png');}
